# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# IDE-specific
.vscode/
.idea/

# Build artifacts
dist/
build/
*.egg-info/

# Test artifacts
.pytest_cache/
.devcontainer/